
$front-page-pic-pad: 8px;


.video {
  position: relative;

}

video {
  size: cover;
  height:100vh;
  margin-top:none;
  width: 100%;
  height: 100%;
  padding-top: none;

}

.title {
  position: absolute;
  top: 30%;
  right: 30%;
  color:#fff;

}

.front-pic {

 width:355px;
  padding-left:$front-page-pic-pad;
  padding-right:$front-page-pic-pad;
  height:344px;

}

#autocomplete {
  color: black;
}

