/* -------------------------------------
 * You killer button SASS module
 * ------------------------------------- */
$front-page-pic-pad: 12.5px;

/* -------------------------------------
 * Picture SASS
 * ------------------------------------- */
$pic-margin: 5%;
$pic-background-size: 100%;
$pic-height: 340px;
$pic-width: 90%;

/* -------------------------------------
 * Video CSS
 * ------------------------------------- */

.video {
  position: relative;

}

video {
  size: cover;
  height:100vh;
  margin-top:none;
  width: 100%;
  height: 100%;
  padding-top: none;

}

.title {
  position: absolute;
  top: 30%;
  right: 30%;
  color:#fff;
}


/* -------------------------------------
 * Pictures
 * ------------------------------------- */

.pic-card {
  border-radius: 4px;
  background-size: $pic-background-size;
  height: $pic-height;
  width: $pic-width;
  background-repeat:no-repeat;
  background-size: cover;
  background-position:center;
  color:white;

}


.mid-image {

  position: relative;


}

.mid-image img {
  size: cover;
  height:20vh;
  margin-top:none;
  width: 100%;
  height: 50%;
  padding-top: none;
}

/* -------------------------------------
* Picture Selector
 * ------------------------------------- */
.card-1 {
  background-image: url("tofino.jpg");
}

.card-2 {
  background-image: url("camping.png");
}

.card-3 {
  background-image: url("cliff_camp.png");
}

.card-4 {
  background-image: url("swiss.png");
}

.card-5 {
  background-image: url("cliff_camp.png");
}

.card-6 {
  background-image: url("cliff_camp.png");
}

#autocomplete {
  color: black;
}

