<div class="padded">
  <div class="container">
    <div class="row">
      <div class=" panel-header">
        <h1>Add a new Availability Period</h1>
      </div>
      <div class="panel-body text-center">
        <%= render 'form' %>
      </div>
        <br>
        <%= link_to "Skip", appartment_path(@appartment), {class: "btn btn-primary"} %>

      <br>
    </div>
  </div>
</div>
