<div class="padded">
  <div class="container">
    <div class="row">
      <h1>Add a new Availability Period</h1>
      <%= render 'form' %>
      <br>
      <%= link_to "Skip", appartment_path(@appartment), {class: "btn btn-primary"} %>
      <br>
    </div>
  </div>
</div>
