


<div class="footer">
  <div class="container">
    <dic class="footer-top">
    <div class="row footer-top">
      <div class="col-xs-12 col-sm-4">
          <select class="form-control language footer-control">
            <option value="Deutsch">Deutsch</option>
            <option value="Francais">Francais</option>
            <option value="English">English</option>
            <option value="Nederlands">Nederlands</option>
            <option value="Polski">Polski</option>
          </select>


        <select class="form-control currency footer-control">
          <option value="AUD">AUD</option>
          <option value="BRL">BRL</option>
          <option value="CAD">CAD</option>
          <option value="CHF">CHF</option>
          <option value="EUR">EUR</option>
          <option value="HKD">HKD</option>
          <option value="AED">USD</option>
      </select>
      </div>

        <div class="col-sm-1">
        </div>

        <div class="col-xs-12 col-sm-7">
          <table class="footer-table">
            <thead>
             <th>About</th>
             <th>Careers</th>
             <th>Press</th>
             <th>Blog</th>
            </thead>
          </table>
        </div>
      </div>

      <div class="row about-us text-center">
        <p>Join us on</p>
        <div class="row">
            <ul class="list-inline text-center">
              <li><a href><i class="fa fa-facebook"></i></a></li>
              <li><a href><i class="fa fa-instagram"></i></a></li>
              <li><a href><i class="fa fa-twitter"></i></a></li>
              <li><a href><i class="fa fa-linkedin"></i></a></li>
              <li><a href><i class="fa fa-google-plus"></i></a></li>
              <li><a href><i class="fa fa-pinterest"></i></a></li>
              <li><a href><i class="fa fa-youtube-play"></i></a></li>
            </ul>
          </div>
          <p class="copyright">@ Airbnb Inc.</p>
        </div>
  </div>
</div>
