<div class="footer">
  <div class="container text-center">
  <div class="top-table">
  <div class="col-sm-4">

  <select class="form-control language footer-control">
      <option value="Deutsch">Deutsch</option>
      <option value="Francais">Francais</option>
      <option value="English">English</option>
      <option value="Nederlands">Nederlands</option>
      <option value="Polski">Polski</option>
    </select>


    <select class="form-control currency footer-control">
      <option value="AUD">AUD</option>
      <option value="BRL">BRL</option>
      <option value="CAD">CAD</option>
      <option value="CHF">CHF</option>
      <option value="EUR">EUR</option>
      <option value="HKD">HKD</option>
      <option value="AED">USD</option>
    </select>
  </div>

<table class="footer-table">
  <div class="col-sm-2">
    <thead>
      <th>Company</th>
      <th>Discover</th>
      <th>Hosting</th>
    </thead>


    <tr>
      <td><a href>About<a></td>
      <td><a href>Trust & Safety<a></td>
      <td><a href>Why Host<a></td>
    </tr>


    <tr>
      <td><a href>Careers<a></td>
      <td><a href>Invite Friends<a></td>
      <td><a href>Hospitality<a></td>
    </tr>

     <tr>
      <td><a href>Press<a></td>
      <td><a href>Gift Cards<a></td>
      <td><a href>Responsible Hosting<a></td>
    </tr>

     <tr>
      <td><a href>Blog<a></td>
      <td><a href>Mobile<a></td>
      <td><a href>Home Safety<a></td>
    </tr>

    <tr>
      <td><a href>Help<a></td>
      <td><a href>Invite Friends<a></td>

    </tr>


  </div>

  </table>
</div>

      <div class="row about-us">
        <p>Join us on</p>

        <div class="row">
            <ul class="list-inline text-center  ">
              <li><a href><i class="fa fa-facebook"></i></a></li>
              <li><a href><i class="fa fa-instagram"></i></a></li>
              <li><a href><i class="fa fa-twitter"></i></a></li>
              <li><a href><i class="fa fa-linkedin"></i></a></li>
              <li><a href><i class="fa fa-google-plus"></i></a></li>
              <li><a href><i class="fa fa-pinterest"></i></a></li>
              <li><a href><i class="fa fa-youtube-play"></i></a></li>
            </ul>
          </div>
            <p class="copyright">@ Airbnb Inc.</p>
            </div>
         </div>


      </div>

