// Your footer style

/* -------------------------------------
 * Colors & Fonts
 * ------------------------------------- */

 $footer-color: #fff;
 $footer-bg: #2b2d2e;
 $footer-lang-curr-bg: #565a5c;
 $footer-font:'Karla', sans-serif;
 $footer-hover-color: $yellow;
 $footer-font-size: 14px;

/* -------------------------------------
 * Styles
 * ------------------------------------- */


.top-table{
  padding-top:2em;
  padding-bottom: 4em;
}


.footer {
  color: $footer-color;
  background: $footer-bg;
  font-family: $navbar-font;
  font-size: $footer-font-size;

}

.footer a {
  color: $footer-color;

}

.footer > li > a:hover {
    color: $footer-hover-color;
    background-color: transparent;
  }

.copyright {
  color: #82888a;
}

.about-us {
  border-top: solid #82888a 1px;
  padding-top: 20px;
  padding-bottom: 20px;
}


/* -------------------------------------
 * Footer Table
 * ------------------------------------- */


.footer-table th {
  padding: 3em;

}

.footer a:hover {
   color: $footer-hover-color;
  }

.footer-control {
  background-color: $footer-lang-curr-bg;
  border: 0;
  color: $footer-color;
  padding-top: 10px;
  padding-bottom: 20px;
  max-width: 90%;
  margin-left: 2em;
  margin-top:1em;
}

.list-inline a {
  padding: 4px;
}

.footer-top {
  margin: 3%;
}

