  <ul class="no-bullets">
    <li>Address: <%= @appartment.address %></li>
    <li>Property Type: <%= @appartment.property_type %></li>
    <li>Capacity: <%= @appartment.capacity %></li>
    <li>Number of Rooms: <%= @appartment.nbr_rooms %></li>
  </ul>
