
<div class="container">
  <div class = 'top-banner'>
    <div class="container text-center">
      <div class="text-center top">
        <h1> WELCOME HOME </h1>
        <h5> Rent unique places to stay from local hosts in 190+ countries.</h5>
      </div>
      <div class="text-center">
        <div class="btn btn btn-danger">
          <%= link_to 'Search', appartments_path %>
        </div>
      </div>
    </div>
  </div>
</div>



