<div class="row">
<div class="video window-height">
  <%= video_tag("forest.mp4", :autoplay => true, :autobuffer => true, :loop => true) %>
  <div class="title text-center">
    <h1> ADVENTURE ANYONE ? </h1>
    <h5> Rent unique places to stay from local hosts in 190+ countries.</h5>
    <div class="btn btn-danger text-center search-btn ">
      <%= link_to 'Search', appartments_path %>
    </div>
  </div>
</div>
</div>







<div class="container">
      <div class="text-center">
        <h3>Disconnect for a while</h3>
        <p>See where people are traveling, all around the world.</p>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="pic-card card-1 big-pic">
            <h2 class="text-center vcenter">TOFINO</h2>
            <h2 class="text-center">CANADA</h2>
          </div>
        </div>

        <div class="col-xs-12 col-sm-3 reg-pic">
          <div class="pic-card card-2">
            <h2 class="text-center">CANADA</h2>
          </div>
        </div>

        <div class="col-xs-12 col-sm-3 reg-pic">
          <div class="pic-card card-3">
             <div class="text-center">
               <h2>YOSIMITE</h2>
               <h3>USA  </h3>
              </div>
            </div>
          </div>
        </div>



        <div class="row">

        <div class="col-xs-12 col-sm-4 reg-pic">
          <div class="pic-card card-4">
            <h2 class="text-center">SWITZERLAND</h2>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 reg-pic">
          <div class="pic-card card-5">
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 reg-pic">
          <div class="pic-card card-6">
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-xs-12 col-sm-4 reg-pic">
          <div class="pic-card card-7">
            <h2 class="text-center">SWITZERLAND</h2>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 reg-pic">
          <div class="pic-card card-8">
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 reg-pic">
          <div class="pic-card card-9">
          </div>
        </div>
      </div>


    </div>

<div class="mid-image">

    <div class="row text-center">

      <%= link_to(image_tag("ferns.png"), root_path) %>
      <div class="title col-xs-12">
      <h3>GET OUTDOORS</h3>
    </div>
    </div>

    </div>


    <div class="container">

          <div class="text-center padded">
        <h3>OUR COMMUNITY</h3>
        <p>See where people are traveling, all around the world.</p>
      </div>
    <div class="row">

        <div class="col-xs-12 col-sm-3 reg-pic">
          <div class="pic-card card-4">
            <h2 class="text-center">FAMILY</h2>
          </div>
        </div>

        <div class="col-xs-12 col-sm-3 reg-pic">
          <div class="pic-card card-5">
            <h2 class="text-center">WOMAN</h2>
          </div>
        </div>

        <div class="col-xs-12 col-sm-3 reg-pic">
          <div class="pic-card card-6">
            <h2 class="text-center">MAN</h2>
          </div>
        </div>

        <div class="col-xs-12 col-sm-3 reg-pic">
          <div class="pic-card card-6">
            <h2 class="text-center">COUPLE</h2>
          </div>
        </div>

      </div>




  </div>











