<div class="padded">
  <div class="container">
    <% @appartments.each do |appartment| %>
      <% @appartment = appartment %>
        <div class= "text-center">
          <%= link_to appartment_path(appartment) do %>
            <div class="row">
              <%= image_tag appartment.picture.url(:medium) %>
              <%= render 'standard_app_details' %>
            </div>
          <% end %>
        </div>
    <% end %>
  </div>
</div>
<%= render 'shared/map' %>
