<div class="padded">
  <div class="container">
    <div class="row">
      <div class="form-style">
        <div class="panel-header">
          <h1>List Your Space</h1>
          <p>Make money renting out your place.</p>
        </div>
        <div class="panel-body">
          <%= render 'form' %>
        </div>
      </div>
      <br>
      <%= link_to "All Apartments", appartments_path, {class: "btn btn-primary"} %>
    </div>
  </div>
</div>
