<h1>Appartments#show</h1>
<p>Find me in app/views/appartments/show.html.erb</p>
<p>Hello<p>

<table>
  <thead>
    <tr>
      <th>Appartment</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <p>This will be a apt loop over all appts<p>

    </tr>
  </tbody>
</table>

